export(
trio.sim,
trio,
trio.check,
getLD,findLDblocks, splitBlocks,
tdt, colTDT, tdt2way, colTDT2way, colTDTinter2way, compPermTDT2way,
ped2geno, read.pedfile, removeSNPs, removeTrios, orderSNPs, colMAFtrio,
colTDTmaxStat, colTDTmaxTest,
colGxE,
trio.permTest
)

S3method(plot, getLD)
S3method(print, LDblocks)
S3method(plot, LDblocks)
S3method(print, tdt)
S3method(print, colTDT)
S3method(print, tdtEpi)
S3method(print, colTDTepi)
S3method(print, maxTestTrio)
S3method(print, maxStatTrio)
S3method(print, colGxE)


